<div class="col-md-6">
  <h2>Usuários cadastrados</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Usuário</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)">Remover</button>
        <button class="btn btn-danger" (click)="editUser(user)" style="margin-left: 20px;">Editar</button></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-danger float-right" (click)="addUser()">Adicionar Usuário</button>
</div>